.text-dasbor {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.img-dasbor {
    min-width: 20%;
    max-width: 20%;
    min-height: 10%;
    max-height: 10%;
}

.logo-navbar {
    width: 100%;
}

.logo-navbar > center > img {
    min-width: 96%;
    max-width: 96%;
    min-height: 53px;
    max-height: 53px;
    margin-top: 5px;
}

td > img {
    min-width: 120px;
    max-width: 120px;
    min-height: 100px;
    max-height: 100px;
}

.right_col {
    min-height: 610px !important;
}

footer {
    padding: 10px 10px !important;
}